.accordionSection {
    width: 70%;
}

.bg {
    background-image: linear-gradient(0deg,rgba(0,0,0,.9)0%,rgba(0,0,0,0)50%,rgba(0,0,0,0)98%,rgba(0,0,0,.5)100%),url('../src/img/faq_bg.jpg');
    background-size: cover,cover;
    height: 1200px;
}