form header {
    /* background-color: red; */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../src/img/header_bg.jpg');
    background-position-y: 0px, -680px;
    background-attachment: local, local;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: red; */
    height: 500px;
    /* z-index: -999; */
    /* max-height: 100%; */
    /* max-width: 100%; */
    /* width: 100%; */

}
