.bg {
	background: white;
	background-size: cover;
	height: 400px;
}

.fixed {
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(92,80,105,1) 35%);
	color: greenyellow;
}

