bin/WAD Assignment SF.dll
bin/WAD Assignment SF.pdb
.vs/WAD Assignment SF/v17/*
obj/*
*.vsidx
*.vsidx
*.sqlite
.vs/WAD Assignment SF/v17/-G-2.suo
.vs/WAD Assignment SF/v17/-G-3.suo
.vs/WAD Assignment SF/v17/-G-4.suo
.vs/WAD Assignment SF/v17/-G-5.suo
.vs/WAD Assignment SF/v17/-G-6.suo
.vs/WAD Assignment SF/v17/-G-7.suo
.vs/WAD Assignment SF/v17/-G-8.suo
.vs/WAD Assignment SF/v17/-G-9.suo
.vs/WAD Assignment SF/v17/-G-10.suo
.vs/WAD Assignment SF/v17/-G-11.suo
.vs/WAD Assignment SF/v17/-G-12.suo
.vs/WAD Assignment SF/v17/-G-13.suo
.vs/WAD Assignment SF/v17/-G-14.suo
.vs/WAD Assignment SF/v17/-G-15.suo
.vs/WAD Assignment SF/v17/-G-16.suo
.vs/WAD Assignment SF/v17/-G.suo
.vs/WAD Assignment SF/v17/-LAPTOP-0J9BV9OQ-2.suo
.vs/WAD Assignment SF/v17/-LAPTOP-0J9BV9OQ.suo
.vs/WAD Assignment SF/v17/.suo
